<footer class="footer-mobile">
  <div class="container">
    <address class="address">Kyiv, Mechnikova str., 14/1</address>
    <a href="./" class="map">ON MAP</a>

    <a href="./" class="facebook"
      ><svg class="facebookIcon">
        <use href="./images/sprite.svg#icon-facebook-footer"></use></svg
    ></a>
    <a class="footer__tel" href="tel:+0800211927">0800 211 927</a>
    <a href="mailto:info@devstudio.com" class="footer__email"
      >contact@forstudy.space</a
    >
    <p class="footer__text">© 2021 HLEGAL Law company, LLC</p>
  </div>
</footer>

<footer class="footer">
  <div class="container">
    <div class="address-container">
      <address class="address">Kyiv, Mechnikova str., 14/1</address>
      <a href="./" class="map">ON MAP</a>
      <p class="footer__text">© 2021 HLEGAL Law company, LLC</p>
    </div>

    <div class="e-container">
      <a href="./" class="facebook"
        ><svg class="facebookIcon">
          <use href="./images/sprite.svg#icon-facebook-footer"></use></svg
      ></a>
      <a class="footer__tel" href="tel:+0800211927">0800 211 927</a>
      <a href="mailto:info@devstudio.com" class="footer__email"
        >contact@forstudy.space</a
      >
    </div>
  </div>
</footer>
