<header class="header">
  <div class="wrapper"></div>
  <nav class="nav main container">
    <div class="nav__wrapper">
      <div class="nav__buttons">
        <ul class="nav__list">
          <li class="nav__item">
            <button class="nav__button reset-button" type="button">УК</button>
          </li>
          <li class="nav__item">
            <button class="nav__button reset-button" type="button">РУ</button>
          </li>
          <li class="nav__item">
            <button class="nav__button reset-button current" type="button">
              EN
            </button>
          </li>
        </ul>

        <address class="address">Kyiv, Mechnikova str., 14/1</address>

        <a class="nav__tel" href="tel:+0800211927">0800 211 927</a>

        <a href="./" class="facebook"
          ><svg class="facebookIcon">
            <use href="./images/sprite.svg#icon-facebook-header"></use></svg
        ></a>
      </div>
    </div>

    <div class="menu container">
      <a href="./"
        ><svg class="logo">
          <use href="./images/sprite.svg#icon-logoBig"></use></svg
      ></a>

      <button type="button" class="reset-button">
        <svg class="hamburger">
          <use href="./images/sprite.svg#icon-hamburger"></use>
        </svg>
      </button>

      <ul class="menu__list">
        <li class="menu__item"><a href="./" class="menu__link">about us</a></li>
        <li class="menu__item"><a href="./" class="menu__link">services</a></li>
        <li class="menu__item">
          <a href="./pageTeam.html" class="menu__link">team</a>
        </li>
        <li class="menu__item">
          <a href="./" class="menu__link">publications</a>
        </li>
        <li class="menu__item"><a href="./" class="menu__link">contact</a></li>
      </ul>
    </div>

    <div class="hero container">
      <h1 class="hero__title">you legal solutions provider</h1>
      <button type="button" class="reset-button scroll-btn">
        <svg class="scroll">
          <use href="./images/sprite.svg#icon-scroll"></use>
        </svg>
      </button>
    </div>

    <!-- <img src="./images/hero.png" alt="hero image" class="hero__image" /> -->
  </nav>

  <nav class="nav main container desktop">
    <div class="nav__wrapper"></div>

    <div class="menu container">
      <a href="./" class="logo-link"
        ><svg class="logo">
          <use href="./images/sprite.svg#icon-logoBig"></use></svg
      ></a>

      <div class="desktop-container">
        <div class="nav__buttons">
          <ul class="nav__list">
            <li class="nav__item">
              <button class="nav__button reset-button" type="button">УК</button>
            </li>
            <li class="nav__item">
              <button class="nav__button reset-button" type="button">РУ</button>
            </li>
            <li class="nav__item">
              <button class="nav__button reset-button current" type="button">
                EN
              </button>
            </li>
          </ul>

          <address class="address">Kyiv, Mechnikova str., 14/1</address>

          <a class="nav__tel" href="tel:+0800211927">0800 211 927</a>

          <a href="./" class="facebook"
            ><svg class="facebookIcon">
              <use href="./images/sprite.svg#icon-facebook-header"></use></svg
          ></a>
        </div>
        <ul class="menu__list">
          <li class="menu__item">
            <a href="./" class="menu__link">about us</a>
          </li>
          <li class="menu__item">
            <a href="./" class="menu__link">services</a>
          </li>
          <li class="menu__item">
            <a href="./pageTeam.html" class="menu__link">team</a>
          </li>
          <li class="menu__item">
            <a href="./" class="menu__link">publications</a>
          </li>
          <li class="menu__item">
            <a href="./" class="menu__link">contact</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="hero container">
      <h1 class="hero__title">you legal solutions provider</h1>
      <button type="button" class="reset-button scroll-btn">
        <svg class="scroll">
          <use href="./images/sprite.svg#icon-scroll"></use>
        </svg>
      </button>
    </div>
  </nav>

  <section class="advantages">
    <div class="container">
      <div class="adv-container">
        <ul class="advantages__list">
          <li class="advantages__item">
            <a href="./" class="advantages__link current">Consistent</a>
          </li>
          <li class="advantages__item">
            <a href="./" class="advantages__link">Customer oriented</a>
          </li>
          <li class="advantages__item">
            <a href="./" class="advantages__link">Innovative</a>
          </li>
          <li class="advantages__item">
            <a href="./" class="advantages__link">Business oriented</a>
          </li>
        </ul>
        <div class="advantages__about">
          <h2 class="title">We turn the idea of legal services</h2>
          <p class="text">
            Consolidating many years of experience and practice, the company's
            lawyers accompany complex projects and achieve a number of important
            decisions for the industry. Many of them form the practice of
            applying the law of the sea in Ukraine.
          </p>
        </div>
      </div>

      <div class="advantages__our">
        <a href="./" class="advantages__services"
          >services<svg class="arrow">
            <use href="./images/sprite.svg#icon-arrow"></use></svg
        ></a>
        <h2 class="title">What can we do better than others?</h2>
        <ul class="advantages__our__list">
          <li class="advantages__our__item">
            <img src="./images/itecom.png" alt="" class="image" />
            <h3 class="title">IT and e-commerce</h3>
            <p class="text">
              An endless stream of contracts, tax issues, labor relations,
              corporate papers - legal work distracts you from doing business.
              But there is not much work to do to hire an in-house lawyer.
            </p>
          </li>
          <li class="advantages__our__item">
            <img src="./images/itecom.png" alt="" class="image" />
            <h3 class="title">Comprehensive daily legal support</h3>
            <p class="text">
              In addition, over time, the work will become the same type and
              uninteresting for a full-time lawyer. And we know very well how
              difficult it is to find a good candidate with experience in the
              field of information technology in Ukraine.
            </p>
          </li>
          <li class="advantages__our__item">
            <img src="./images/itecom.png" alt="" class="image" />
            <h3 class="title">Structuring corporate relationships</h3>
            <p class="text">
              Instead of just providing legal services, we will hire a lawyer or
              a whole team that will fit into the daily life of your company.
            </p>
          </li>
          <li class="advantages__our__item">
            <img src="./images/itecom.png" alt="" class="image" />
            <h3 class="title">Building contractual relations</h3>
            <p class="text">
              Once a week, or week after month, you have your own lawyer by your
              side. Anyone in the company can catch it at the coffee maker and
              just talk about current affairs instead of waiting for update
              status.
            </p>
          </li>
          <li class="advantages__our__item">
            <img src="./images/itecom.png" alt="" class="image" />
            <h3 class="title">Protection of business, intellectual property</h3>
            <p class="text">
              And all the other time he will work on new diverse projects, so he
              will definitely not stop in professional development. One way or
              another, all Axon Partners will work for you instead of a
              corporate lawyer.
            </p>
          </li>
          <li class="advantages__our__item">
            <img src="./images/itecom.png" alt="" class="image" />
            <h3 class="title">Judicial representation</h3>
            <p class="text">
              Is it a small, medium-sized company or a market leader? Local
              business or multinational company? Do you have your own legal
              department or not?
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>
</header>
