<section class="publications">
  <div class="container">
    <a href="./" class="publications__link">
      PUBLICATIONS<svg class="arrow">
        <use href="./images/sprite.svg#icon-arrow"></use></svg
    ></a>

    <h2 class="publications__title">We have something to tell</h2>

    <ul class="publications__list">
      <li class="publications__item publications__card">
        <img
          src="./images/equityy.png"
          alt="Equity associate"
          class="card__image"
        />
        <div class="card__textContainer">
          <h3 class="card__title">
            <a href="./" class="card__title">Equity associate</a>
          </h3>
          <p class="card__text">April 22</p>
          <p class="card__textTwo">
            I'm a jun on projects. I am a co-owner of a law firm. How it
            happened. Before entering my parents told me that if I…
          </p>
        </div>
      </li>
      <li class="publications__item">
        <img
          src="./images/gdprr.png"
          alt="Penalty for the Good Corporation: what will happen to Google and others for violating the GDPR"
          class="card__image"
        />
        <div class="card__textContainer">
          <h3 class="card__title">
            <a href="./" class="card__title"
              >Penalty for the Good Corporation: what will happen to Google and
              others for violating the GDPR</a
            >
          </h3>
          <p class="card__text">September 29</p>
          <p class="card__textTwo">
            And why the recovery of 50 million euros could be a fateful
            precedent According to Mind.ua January 21 National Commission for
            Data Protection.
          </p>
        </div>
      </li>
      <li class="publications__item">
        <img
          src="./images/milleniall.png"
          alt="Millennial Testament"
          class="card__image"
        />
        <div class="card__textContainer">
          <h3 class="card__title">
            <a href="./" class="card__title">Millennial Testament</a>
          </h3>
          <p class="card__text">August 19</p>
          <p class="card__textTwo">
            What and how modern vloggers, opinion leaders and
            crypto-millionaires will inherit A typical legacy of the Ukrainian
            generation X looks like this: an apartment in…
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
