<section class="team container">
  <div class="card">
    <img src="./images/teammTablet.png" alt="team member" class="team__image" />
    <div class="team__container">
      <a href="./" class="team__link"
        >КОМАНДА<svg class="arrow">
          <use href="./images/sprite.svg#icon-arrow"></use></svg
      ></a>

      <p class="team__text like__title">
        Ми звикли брати на себе відповідальність та завжди гарантуємо чесну,
        вчасну допомогу, навіть у ситуаціях, коли більшість безсилі.
      </p>

      <p class="team__text one">Олександр Олександровський</p>
      <p class="team__text two">Керуючий партнер</p>
    </div>
  </div>
  <div class="circle one"></div>
  <div class="circle two"></div>
  <div class="circle three"></div>
</section>
