.header {
  position: relative;
  border-radius: 0px 0px 12px 12px;
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );

  @media screen and (max-width: 767px) {
    .wrapper {
      position: absolute;
      width: 100%;
      height: 45px;
      background: rgba(245, 245, 250, 0.2);
    }
  }

  // &::after {
  //   content: '';
  //   width: 94%;
  //   height: 10px;
  //   background: #cacadb;
  //   border-radius: 0px 0px 12px 12px;
  //   display: block;
  //   position: absolute;
  //   bottom: -10px;
  //   padding-left: 20%;
  // }

  // &::before {
  //   content: '';
  //   width: 96%;
  //   height: 10px;
  //   background: #e7e7f2;
  //   border-radius: 0px 0px 12px 12px;
  //   display: block;
  //   margin: 0 auto;
  //   position: absolute;
  //   bottom: -20px;
  // }
}

.nav {
  @media screen and (min-width: 1440px) {
    display: none;
  }
  position: relative;
  background-image: url('../images/hero.png');

  @media screen and (min-width: 768px) {
    background-image: url('../images/hero1.png');
    background-size: contain;
    background-position: center;
    // height: 1024px;
  }
  background-position: -74px 0px;
  background-repeat: no-repeat;

  &__wrapper {
    // background-color: rgba(245, 245, 250, 0.2);
    position: relative;
    z-index: 1;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin: 0 auto;

    padding: 10px 15px;
  }

  .address {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;
      /* identical to box height *

      /* Grey / Text */

      color: #b3b3ba;
      margin-bottom: 0;
      margin-right: 18px;

      position: relative;
    }
  }

  .address::before {
    position: absolute;
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: #e6e6f0;
    border-radius: 50%;
    top: 7px;
    left: -11px;
  }

  .address::after {
    position: absolute;
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: #e6e6f0;
    border-radius: 50%;
    top: 7px;
    right: -11px;
  }

  .facebook {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      fill: white;
      width: 24px;
      height: 24px;
      margin-bottom: 0;
    }
  }

  .facebookIcon {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      fill: white;
      width: 24px;
      height: 24px;
    }
  }

  &__list {
    display: flex;
    margin-right: 142px;

    @media screen and (min-width: 768px) {
      margin-right: 18px;
    }
  }

  &__button {
    padding: 5px 7px;

    width: 33px;
    height: 25px;

    color: white;
    border-radius: 8px;

    cursor: pointer;

    text-align: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;

    text-align: center;
    letter-spacing: 1px;

    /* Basic/White */

    color: #ffffff;
  }

  &__button.current,
  &__button:hover {
    background: #f0145a;
  }

  &__tel {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;

    text-align: right;

    color: #ffffff;

    position: relative;

    @media screen and (min-width: 768px) {
      margin-right: 18px;
      &::after {
        position: absolute;
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background: #e6e6f0;
        border-radius: 50%;
        top: 7px;
        right: -11px;
      }
    }
  }
}

.logo {
  width: 69px;
  height: 32px;
  margin-right: 244px;

  @media screen and (min-width: 768px) {
    width: 130px;
    height: 60px;
    margin-right: 0;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 0px;
  }
}

.logo-link {
  @media screen and (min-width: 1440px) {
    margin-right: 712px;
  }
}

.hamburger {
  width: 32px;
  height: 32px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.scroll {
  width: 42px;
  height: 42px;

  &:hover {
    fill: #f0145a;
  }
}

.scroll-btn {
  margin: 0 auto;
  display: block;

  cursor: pointer;
}

.scroll-btn:hover .scroll {
  fill: #f0145a;
}

.menu {
  display: flex;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1440px) {
    display: flex;
  }

  align-items: center;

  padding: 15px;

  @media screen and (min-width: 1440px) {
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0;
  }

  position: relative;
  z-index: 1;

  &__list {
    display: none;

    @media screen and (min-width: 1440px) {
      padding-left: 62px;
    }
  }

  @media screen and (min-width: 768px) {
    &__list {
      display: flex;
    }

    &__item:not(:last-child) {
      margin-right: 15px;
    }

    &__link {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height */

      text-align: right;

      /* Basic/White */

      color: #ffffff;

      &:hover {
        color: #24a3ff;
      }
    }
  }
}

.hero {
  margin-top: 129px;

  @media screen and (min-width: 768px) {
    margin-top: 269px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 290px;
  }
  padding-bottom: 30px;

  position: relative;
  z-index: 1;

  &__title {
    width: 315px;
    height: 138px;
    margin: 0 auto;
    margin-bottom: 159px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 1.21;
    text-align: center;

    /* Basic/White */

    color: #ffffff;
    @media screen and (min-width: 768px) {
      font-size: 38px;
      line-height: 46px;
      width: 700px;
      height: 46px;
      margin-bottom: 400px;
    }

    @media screen and (min-width: 1440px) {
      font-size: 38px;
      line-height: 46px;
      width: 700px;
      height: 46px;
      margin-bottom: 300px;
    }
  }

  &__image {
    position: absolute;
    z-index: 0;
    left: -8%;
    top: 0px;

    width: 524px;
    height: 600px;
  }
}

.advantages {
  @media screen and (min-width: 768px) {
    margin-top: 70px;
  }
  padding-bottom: 60px;

  & .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .adv-container {
    @media screen and (min-width: 1440px) {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
    }
  }

  &__list {
    padding-bottom: 30px;
    position: relative;

    &::after {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 315px;

      content: '';
      display: block;
      height: 4px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 4px;

      @media screen and (min-width: 768px) {
        width: 648px;
      }
      @media screen and (min-width: 1440px) {
        transform: rotate(90deg);
        width: 250px;
        bottom: 150px;
        left: 300px;
      }
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 4px;

    @media screen and (min-width: 768px) {
      margin-bottom: 12px;
    }
  }

  &__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.23;
    /* identical to box height */
    color: #b3b3ba;

    @media screen and (min-width: 768px) {
      font-size: 38px;
      line-height: 46px;
    }

    &.current {
      background: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:hover {
      background: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__about {
    margin-top: 30px;

    & .title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.2;

      /* Basic/White */

      color: #ffffff;

      margin-bottom: 30px;

      @media screen and (min-width: 768px) {
        font-size: 30px;
        line-height: 37px;
      }
    }

    & .text {
      /* Introduction */

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 1.58;
      /* or 158% */

      /* Basic/White */

      color: #b3b3ba;

      @media screen and (min-width: 768px) {
        font-size: 19px;
        line-height: 30px;
      }

      @media screen and (min-width: 1440px) {
        max-width: 580px;
      }
    }
  }

  &__services {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    /* identical to box height */

    letter-spacing: 1px;
    text-transform: uppercase;

    /* Active / Regular */

    color: #24a3ff;
    display: inline-block;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__our {
    margin-top: 30px;

    & .title {
      margin-top: 10px;
      margin-bottom: 30px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 1.23;

      /* Gradient / Red Text */

      background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      @media screen and (min-width: 768px) {
        font-size: 38px;
        line-height: 46px;

        margin-bottom: 60px;
      }
    }

    &__list {
      @media screen and (min-width: 768px) {
        margin-left: -30px;
        margin-bottom: -30px;
        display: flex;
        flex-wrap: wrap;
      }
    }

    &__item {
      padding-top: 122px;
      margin-bottom: 30px;

      position: relative;

      @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 60px) / 2);
        margin-left: 30px;
        margin-bottom: 60px;
      }

      @media screen and (min-width: 1440px) {
        flex-basis: calc((100% - 30px) / 3);
        margin-left: 10px;
        margin-bottom: 60px;
      }

      & .image {
        position: absolute;
        top: 0;
        left: 0;

        width: 92px;
        height: 92px;
      }

      & .title {
        margin-top: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 1.23;
        /* identical to box height */

        /* Active / Regular */

        color: #24a3ff;

        margin-bottom: 15px;

        @media screen and (min-width: 768px) {
          font-size: 22px;
          line-height: 27px;
        }
      }

      & .text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.63;

        color: #b3b3ba;

        @media screen and (min-width: 768px) {
          font-size: 16px;
          line-height: 26px;
          width: 294px;
        }
      }
    }
  }
}

.nav.desktop {
  @media screen and (max-width: 1439px) {
    display: none;
  }
  display: block;
  position: relative;

  @media screen and (min-width: 1440px) {
    background-image: url('../images/hero1.png');
    background-size: contain;
    background-position: center;
  }

  background-position: -74px 0px;
  background-repeat: no-repeat;

  &__wrapper {
    // background-color: rgba(245, 245, 250, 0.2);
    position: relative;
    z-index: 1;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin: 0 auto;

    padding: 10px 15px;
  }

  .address {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;
      /* identical to box height *

      /* Grey / Text */

      color: #b3b3ba;
      margin-bottom: 0;
      margin-right: 18px;

      position: relative;
    }
  }

  .address::before {
    position: absolute;
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: #e6e6f0;
    border-radius: 50%;
    top: 7px;
    left: -11px;
  }

  .address::after {
    position: absolute;
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: #e6e6f0;
    border-radius: 50%;
    top: 7px;
    right: -11px;
  }

  .facebook {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      fill: white;
      width: 24px;
      height: 24px;
      margin-bottom: 0;
    }
  }

  .facebookIcon {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      fill: white;
      width: 24px;
      height: 24px;
    }
  }

  &__list {
    display: flex;
    margin-right: 142px;

    @media screen and (min-width: 768px) {
      margin-right: 18px;
    }
  }

  &__button {
    padding: 5px 7px;

    width: 33px;
    height: 25px;

    color: white;
    border-radius: 8px;

    cursor: pointer;

    text-align: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;

    text-align: center;
    letter-spacing: 1px;

    /* Basic/White */

    color: #ffffff;
  }

  &__button.current,
  &__button:hover {
    background: #f0145a;
  }

  &__tel {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;

    text-align: right;

    color: #ffffff;

    position: relative;

    @media screen and (min-width: 768px) {
      margin-right: 18px;
      &::after {
        position: absolute;
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background: #e6e6f0;
        border-radius: 50%;
        top: 7px;
        right: -11px;
      }
    }

    &:hover {
      color: #24a3ff;
    }
  }

  &__tel:hover {
    color: #24a3ff;
  }
}

.nav.nb {
  background: none;
}

.header.nb {
  @media screen and (min-width: 1440px) {
    padding-bottom: 20px;
  }

  // .logo {
  //   width: 141px;
  //   margin-right: 170px;
  // }
}

.arrow {
  width: 12px;
  height: 12px;
}
